---
const { githubLink, productLink } = Astro.props;
---

<div class="flex flex-row gap-2 items-center">
  {
    productLink && (
      <a href={productLink} target="_blank" rel="noreferrer">
        <img src="/icons/openInNewWindow.svg" class="w-8" alt="project link" />
      </a>
    )
  }
  {
    githubLink && (
      <a href={githubLink} target="_blank" rel="noreferrer">
        <img src="/icons/github.svg" class="w-8" alt="github link" />
      </a>
    )
  }
</div>
