---
import projects from "../../data/Projects";
import Project from "./Project.astro";
---

<div id="projects" class="scroll-mt-[90px]">
  <div class="mb-5 text-4xl text-center font-mono sectionHeader invisible">
    <h2 aria-label="projects">Projects</h2>
  </div>
  <hr class="border-gray-300 dark:border-gray-600" />
  <div class="mt-5 flex flex-col gap-2 overflow-x-hidden">
    {
      projects?.map((proj, i) => (
        <>
          <Project project={proj} />
          {i < projects.length - 1 && (
            <hr class="border-gray-300 dark:border-gray-700 mt-3" />
          )}
        </>
      ))
    }
  </div>
</div>
