<a
  href="/NgJingXue_resume.pdf"
  target="_blank"
  rel="noreferrer"
  aria-label="resume"
  ><div class="flex flex-row items-center gap-2">
    <img src="/icons/documentText.svg" class="w-8 h-8" alt="document" />
    <p class="text-slate-800">Resume</p>
  </div></a
>
