---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/Introduction/Introduction.astro";
import WorkExperiences from "../components/WorkExperiences/WorkExperiences.astro";
import Projects from "../components/Projects/Projects.astro";
import Coursework from "../components/Coursework/Coursework.astro";
---

<Layout title="Ng Jing Xue">
  <Header />
  <div class="mt-[70px]"><Introduction /></div>
  <div
    class="content flex items-center justify-center dark:bg-[#121212] dark:text-white"
  >
  </div>
  <div
    class="flex flex-col gap-10 py-10 px-2 md:px-10 lg:px-40 space-y-7 dark:bg-[#121212] dark:text-[#FAFAFA]"
  >
    <WorkExperiences />
    <Projects />
    <Coursework />
  </div>
  <div>
    <img
      src="/icons/upArrowCircle.svg"
      class="w-6 fixed right-8 bottom-8 cursor-pointer opacity-50 hover:opacity-100"
      id="jumpTopButton"
    />
  </div>
</Layout>

<script>
  const jumpTopBtn = document.getElementById("jumpTopButton");

  jumpTopBtn.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });

  window.addEventListener("scroll", () => {
    // Hide jumpTopButton if already at the top
    if (window.scrollY === 0) {
      jumpTopBtn.style.display = "none";
    } else {
      console.log(window.scrollY);
      jumpTopBtn.style.display = "block";
    }
  });
</script>
