---
const { href, text, icon } = Astro.props;
---

<a href={`#${href}`}>
  <div class="flex flex-row gap-1">
    {icon && <img class="w-5 dark:invert" src={`/icons/${icon}`} />}
    <p class="hidden sm:block">{text}</p>
  </div>
</a>
