<div
  class="text-black p-5 pb-3 border-gray shadow-lg border rounded-lg dark:bg-[#252525] dark:border-[#252525] dark:text-[#FAFAFA] card"
>
  <div class="mb-5 text-2xl flex justify-start items-center gap-4">
    <slot name="header" />
  </div>
  <hr class="dark:border-[#3d3d3d]" />
  <div class="mt-3"><slot name="body" /></div>
</div>
