---
import Button from "./Button.astro";

const buttons = [
  { text: "Work", id: "id-workExperiences" },
  { text: "Projects", id: "id-projects" },
  { text: "Coursework", id: "id-courseWork" },
];
---

<header
  class="flex flex-row justify-between p-5 border-b-2 border-teal-900 z-50 h-[70px] w-full top-0 fixed bg-white dark:bg-[#121212] dark:text-white dark:border-white"
>
  <div class="flex items-center gap-5">
    <h1 class="text-xl">Jing Xue</h1>
    <img class="w-5 cursor-pointer" id="toggleThemeButton" />
  </div>
  <div class="items-center gap-8 hidden xs:flex" id="buttonsContainer">
    {buttons?.map((button) => <Button text={button?.text} href={button?.id} />)}
  </div>
</header>

<script>
  const html = document.getElementById("app");
  const toggleThemeBtn = document.getElementById("toggleThemeButton");

  toggleThemeBtn?.addEventListener("click", toggleTheme);

  function toggleTheme() {
    const currTheme = localStorage.getItem("theme");
    if (currTheme === "dark") {
      localStorage.setItem("theme", "light");
      html.classList.remove("dark");
      toggleThemeBtn.setAttribute("src", "/icons/sun.svg");
    } else {
      localStorage.setItem("theme", "dark");
      html.classList.add("dark");
      toggleThemeBtn.setAttribute("src", "/icons/moon.svg");
    }
  }
</script>
