---
import WE from "../../data/WorkExperiences";
import Experience from "./Experience.astro";
---

<div id="workExperiences" class="scroll-mt-[90px]">
  <div class="mb-5 text-4xl text-center font-mono sectionHeader invisible">
    <h2 aria-label="work experiences">Work Experience</h2>
  </div>
  <hr class="border-gray-300 dark:border-gray-600" />
  <div class="mt-5 flex flex-col gap-10 overflow-x-hidden">
    {
      WE?.map((exp, i) => (
        <>
          <Experience experience={exp} />
          {i < WE.length - 1 && (
            <hr class="border-gray-300 dark:border-gray-700 mt-3" />
          )}
        </>
      ))
    }
  </div>
</div>
