<div
  class="flex flex-row justify-between items-center text-xs font-semibold text-gray-600 bg-slate-150 lg:text-sm dark:bg-[#202020] dark:text-gray-300 p-5"
>
  <div class="flex flex-row gap-1 items-center">
    <img
      src="/icons/email.svg"
      class="w-5 opacity-70 dark:invert"
      alt="email"
    />
    <p>
      <a href="mailto:ngjxue@gmail.com">Drop me an email</a>
    </p>
  </div>

  <div class="flex flex-row gap-3 items-center">
    <p>Built with</p>
    <img
      src={"/icons/astro.svg"}
      class="w-5 brightness-0 dark:brightness-100"
      id="astroIcon"
      alt="astro"
    />
  </div>
</div>
